<h1>Welcome to the Dining Room 2!</h1>

<p><em>The Dining Room</em> was first founded in the late spring of 2016 when two boys were really hungry and didn't know where to go to eat. Faced with so many choices they decided to build a website which will hold information of all the local restaurants, their working hours and their menus.</p>

<p><em>The Dining Room 2</em> is a new and improved website, offering an enhanced user experience and allowing for quick and easy access to all the information you need.</p>